<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
        <% if (locals.user) { %>
          <h1>Welcome <%= `${user.first_name} ${user.last_name}` %> to the app</h1>
        <% } %>

      <% if (locals.user) { %>  
        <a href="/message/create">Create a new Message</a> 
        <a href="/auth/logout">Logout</a>
        <% if (!locals.user.membership_status) { %>  
        <a href="/member">Become a Member</a>  <% } %>
        <% } %>
       
        <ul>
        <% if (locals.messages) { %>
         <% messages.forEach(message=>{%>
          <li>
            <div class="text"><%= message.message %></div>
           
             <% if (locals.user) { %>
             <% if(locals.user.membership_status) {%>
               <span>
             <%= message.time %>
            </span>
              <div class="author"><%= message.email %></div>

          <% }%><% } %>
          </li>

        <% }) %>
         <% } %>
        
       </ul>
        <% if (!locals.user) { %>
          <a href="/login">Login</a>
          <a href="/">Signup</a>
          <% }%>
    
    
  </body>
</html>
