<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
       <% if (locals.errorMessages) {%>
         <ul>
            <% errorMessages.forEach(function(error) { %>
                <li><%= error %></li>
            <% }); %>
         </ul>
        <% } %>
      <label for="email">Enter your email:</label>
      <input type="email" name="email" id="email" required />
      <label for="password">Enter Password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
